/* GRID */
.grid-stack {
  background: transparent;
  max-height: 100vh !important;
  overflow-y: scroll;
}
.grid-stack-item-content {
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  /* border-left: 5px solid #6f42c1; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente si es necesario */
  height: 100%; /* Asegúrate de que el contenedor tiene altura para que el centrado funcione */
}

/* */

/* TABLE */
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
}
.custom-select {
  display: inline-block;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none' stroke='%236c757d'%3E%3Cpolyline points='6 8 10 12 14 8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}
/*  */

.o_action_manager {
  overflow: auto !important;
}

.list-group-scrollable {
  max-height: 270px;
  min-height: 270px; /* Ajusta la altura máxima según necesites */
  overflow-y: auto; /* Habilita el desplazamiento vertical cuando el contenido excede la altura máxima */
}

.list-contact {
  overflow-y: auto;
}

/* Personalización del scrollbar para navegadores basados en WebKit (Chrome, Safari, Edge) */
.list-group-scrollable::-webkit-scrollbar,
.list-contact::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px; /* Ancho del scrollbar */
}

.list-group-scrollable::-webkit-scrollbar-track,
.list-contact::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo de la barra, usa un color de Bootstrap */
  border-radius: 10px; /* Bordes redondeados del track */
}

.list-group-scrollable::-webkit-scrollbar-thumb,
.list-contact::-webkit-scrollbar-thumb {
  background: var(--gray-black-15); /* rgba(0, 0, 0, 0.15) */
  border-radius: 10px; /* Bordes redondeados del thumb */
}

.list-group-scrollable::-webkit-scrollbar-thumb:hover,
.list-contact::-webkit-scrollbar-thumb:hover {
  background: var(
    --primary
  ); /* Color del thumb al pasar el mouse, oscureciendo para mayor contraste */
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .contactos,
  .chat-en-vivo,
  .catalogo {
    flex: none;
    width: 100%;
    border-right: none;
  }
}

@media (max-width: 768px) {
  .o_whatsapp_configuration_sidebar {
    width: 60vw; /* Ajusta según prefieras */
  }

  .o_mobile_menu_button {
    display: flex; /* Muestra el botón de menú en móviles */
  }
}

/* Estilos para que la tabla maneje correctamente el overflow */
.scrollable-table {
  width: 100%;
  border-collapse: collapse;
}

.scrollable-table thead,
.scrollable-table tbody,
.scrollable-table tr,
.scrollable-table td,
.scrollable-table th {
  display: block;
}

.scrollable-table tbody {
  overflow-y: auto;
}

.scrollable-table tr {
  display: flex;
}

.scrollable-table th,
.scrollable-table td {
  flex: 1;
}

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
} */

.edit-button:hover .edit-icon {
  stroke-dasharray: 56, 6;
  animation: strokeColorChange 1.2s forwards;
}

@keyframes strokeColorChange {
  0% {
    stroke: currentColor;
  }
  100% {
    stroke: #17a2b8;
  } /* Cambia a cualquier color que prefieras */
}

.oe_tag {
  display: inline-block;
  padding: 2px 4px;
  font-size: 0.9em;
  border-radius: 3px;
  color: #fff;
}

.oe_review_pending {
  background-color: #3498db; /* Azul */
}

.oe_review_approved {
  background-color: #2ecc71; /* Verde */
}

.oe_review_rejected {
  background-color: #e74c3c; /* Rojo */
}

#doodles {
  /* position: relative; */
}

#doodles::before {
  display: block;
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.27;
  background-image: url('../img/light-ws2.png');
}
